body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #e6e1e1;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: rgb(168, 67, 67);
  border: 2px solid #444;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background-color: #e0e0e0;
}

#status {
  font-size: 1.2em;
  margin: 15px;
  color:rgb(30, 0, 255);
}

#restart {
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: green;
}
